/*!
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    height: 100vh;
    background: #FEFFFF;
}

body {
    background: #FEFFFF;
	margin: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    outline:0;
    color:#2B5C9B !important;
}
a.button p {
    color:#fff !important;
}
h1, h2, h3, h4, h5, h6, a, button, li {
    color:#000;
    font-family: 'Source Sans Pro', sans-serif;
}

ul.children {
    display: none;
}
/*--------------------------------------------------------------
# MEMBER PAGES
--------------------------------------------------------------*/
.ur-frontend-form button.ur-submit-button{
        background-color: #bc4646;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    text-transform: uppercase;
}
.log_forms {
    margin-left: 0;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: none;
}
.log_forms input[type="text"],
.log_forms input[type="password"]{
    height: 24px;
    border:1px solid #ddd;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    width: 95% !important;
}
.log_forms label{
        font-size: 17px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2em;
}
.log_forms input[type="submit"] {
    background-color: #bc4646;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0 !important;
    text-transform: uppercase;
    color:#fff;
    outline:0;
        width: 100px !important;
}


