/*
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# HEADER
# FOOTER
# FRONT PAGE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
@media screen and (max-width:950px) {
    .site_header .container {
        width: 90%;
    }
    .site_logo {
        width: 150px;
        float:left;
    }
    .header_contact {
        padding-top: 5px;
            padding-right: 55px;
    }
        .header_contact img {
        display: none;
    }
    
/*    MOBILE MENU*/
    .responsive-menu-open #responsive-menu-container {
        top:77px !important;
    }
    #responsive-menu-container li.responsive-menu-item a {
        font-weight: 300;
        color:#fff !important;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
        line-height: 50px !important;
        right: 10px !important;
    }
    .hero_home {
        align-items: center;
    }
    .hero_home .hero_cta {
        text-align: center;
    }
    a.button p {
        margin: 0 auto;
    }
    .hero_home {
        height: 400px;
    }
    .hero_home .hero_cta {
        padding-left: 0;
    }
    
/*    BODY*/
    .content_home {
        width:100%;
        float: none;
        border-right: 0;
    }
    .content_home ul.company_details li {
        padding-left: 0;
    }
    .attr_text {
        margin-top: 30px;
            width: 100%;
    padding-left: 0;
    text-align: center;
    }
    .meeting_schedule {
        padding-top: 45px;
        text-align: center;
    }
    .meeting_schedule .date {
        left: 0;
        right: 0;
        margin: auto;
    }
    .meeting_schedule .more_info {
        float: none;
        margin-top: 20px;
        padding-top: 20px;
        border-top:1px solid #fff;
    }
    .home_news a.button p {
        margin-left: 0;
    }
    .sidebar_home {
        display: none;
    }
    .site_footer {
        text-align: center;
    }
    .site_footer .notifications h2 {
        text-align: center;
        font-size: 15px;
    }
    .footer_links .left {
        width: 100%;
        float: none;
        border-right: 0;
    }
    .footer_links .group {
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .footer_links .group:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .footer_links .column{
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .footer_links .column.logos {
        width: 100%;
    }
}

@media screen and (max-width:650px) {
 .ai1ec-agenda-view .ai1ec-date-events {
    display: block !important;
    width: 98% !important;
     margin: 0 auto !important;
     float: none !important;
}   
    a.ai1ec-date-title.ai1ec-load-view {
        width: 80% !important;
            margin: 0 auto !important;
        float: none !important;
    }
    .ai1ec-agenda-view .ai1ec-event-toggle {
        display: none !important;
    }
}
