/*
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# HEADER
# FOOTER
# FRONT PAGE
# MEMBERS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.site_header {
    background: #FEFFFF;
}
.site_header .container {
    width: 92%;
    margin: 0 auto;
}
.header_top {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1.45px solid #ebebec;
    overflow: hidden;
}
.site_logo {
    width: 200px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.site_logo img {
    width:100%;
}
.site_social {
    margin-left: 20px;
        display: inline-block;
    vertical-align: middle;
}
.site_social ul li {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
}
.header_contact {
    float: right;
    padding-top: 15px;
    padding-right: 15px;
}
.header_contact img {
    margin-left: 2px;
    margin-right: 2px;
}

.site_nav {
    background: #FEFFFF;
    height: 70px;
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
}
.site_nav ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.site_nav a {
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 15px;
}


.site_nav ul.sub-menu {
    position: absolute;
        background:#09293a;
    min-width: 220px;
    top: 45px;
    display: none;
    z-index: 9;
}
.site_nav ul li.menu-item-has-children:hover ul.sub-menu{
    display: block;
}
.site_nav ul.sub-menu li {
    display: block;
        padding:7px 15px;
    margin: 0;
}
.site_nav ul.sub-menu li:hover {
    background: #bc4646;
}
.site_nav ul.sub-menu li a {
    text-transform: capitalize;
    font-size: 14px;
    color:#fff;
}
ul.sub-menu li a {
    color:#fff !important;
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
/*
.content_home#page_calendar {
    padding-top: 0;
}
*/
/*
a.ai1ec-btn.ai1ec-btn-sm.ai1ec-btn-default.ai1ec-dropdown-toggle{
    display: none !important;
}
.ai1ec-agenda-view .ai1ec-event,
.ai1ec-agenda-view .ai1ec-date-events{
    overflow: auto !important;
}
*/
/*
.ai1ec-calendar-toolbar,
.ai1ec-views-dropdown{
    display: none !important;
}
*/
.timely.ai1ec-calendar-toolbar.ai1ec-clearfix,
a.ai1ec-prev-year, a.ai1ec-next-year{
    display: none !important;
}



/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.site_footer .notifications{
    height: 65px;
    background: #388FC5;
            display: flex;
  justify-content: center;
    flex-direction: column;
    align-items: center;
}
.site_footer .notifications h2{ 
        color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-size: 22px;
    margin: 0;
}
.site_footer .notifications h2 span a {
    color:#fff !important;
}
.site_footer .notifications h2 span.status {
    font-weight: 100;
    padding-left: 20px;
    -webkit-font-smoothing: antialiased;
}
.footer_links {
    background: #09293a;
    overflow: hidden;
    width: 100%;
}
.footer_links .wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;
}
.footer_links .left {
    border-right:1px solid #fff;
}
.footer_links .column {
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer_links .column.logos {
    width: 40%;
    text-align: center;
}
.footer_links .column.logos li {
    margin-bottom: 10px;
}
.footer_links .column.logos li {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.footer_links .column.logos img {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}
.footer_links h2 {
        color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 10px;
}
.footer_links ul li p {
        color: #fff;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
        font-weight: 300;
    line-height: 1.75em;
}
.footer_links ul li p a {
    color:#fff !important;
}
.footer_links h6 {
    color: #388FC5;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 400;
}


/*--------------------------------------------------------------
# FRONT PAGE
--------------------------------------------------------------*/
.hero_home {
    height: 400px;
    background-size:cover;
    background-position: center center;
    background-repeat: none;
        display: flex;
  justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero_home .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
            display: flex;
  justify-content: center;
    flex-direction: column;
}
.hero_home.inner_hero {
    height: 300px;
}
.hero_home.inner_hero {
    padding-right: 100px;
}
.hero_home .hero_cta {
    padding-left: 100px;
}
.hero_home .hero_cta h1 {
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5em;
}
.hero_home .hero_cta h1 span {
    font-weight: 300;
    letter-spacing: 5.75px;
}
a.button {
    text-transform: uppercase;
    color:#fff;  
}
a.button p {
    width: 130px;
    background-color: #bc4646;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
        display: flex;
  justify-content: center;
      align-items: center;

}
a.button p:hover {
    background-color: #10293A;
}
.container_home {
    overflow: hidden;
}

.content_home h2 {
   text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color:#09293a;
    margin-top: 0;
}
.content_home {
    width: 70%;
    float: left;
        padding-top: 70px;
    border-right: 3px solid #ebebec;
}
.content_home .wrapper {
    width: 80%; 
    margin: 0 auto;
    overflow: hidden;
}
.content_home p {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5em;
}
.content_home p span {
    font-weight: 500;
    letter-spacing: 0.5px;
}
.content_home ul.company_details {
    padding-top: 10px;
    padding-bottom: 10px;
}
.content_home ul.company_details li {
    margin-bottom: 10px;
    font-weight: 300;
    padding-left: 20px;
}
.content_home ul.company_details li span.dot {
    font-size: 24px;
    margin-right: 10px;
    color:#bc4646;
}
.content_home #company_summary a.button p {
    float: right;
    margin-top: 0;
}
.attr_text {
    width: 270px;
        background: #eaeaea;
    padding-left: 10%;
    padding-top: 1px;
    padding-bottom: 1px;

}
.attr_text p {
    font-weight: 400;
        line-height: 1.75em;
}

.meeting_schedule {
    background: #09293a;
    margin-top: 150px;
    padding-bottom: 15px;
    position: relative;
}

.meeting_schedule .wrapper {
    width: 80%; 
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 25px;
}
.meeting_schedule .date {
    background-image: url('/wp-content/themes/emagid/assets/img/hex.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 111px;
    text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
    position: absolute;
    right: 100px;
    top:-55px;
    padding-top: 5px;
}
.meeting_schedule .date p {
    font-size: 12px;
    color:#000;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.25em;
}
.meeting_schedule .date p strong {
    color:#09293a;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.meeting_schedule .date p span {
    color:#09293a;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25em;
}
.meeting_schedule h3 {
    color:#fff;
    text-transform: uppercase;
        font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-size: 24px;
}
.meeting_schedule p {
    color:#fff;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
}
.meeting_schedule .more_info {
    float: right;
}
.meeting_schedule .more_info .contact_icons {
    padding-top: 20px;
}
.meeting_schedule .more_info .contact_icons img {
    margin-left: 2px;
    margin-right: 2px;
}

.home_news {
    padding-top: 50px;
    border-top:3px solid #ebebec;
    margin-top: 50px;
}
.home_news .wrapper {
    width: 80%; 
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 25px;
}
.home_news h3 {
        text-transform: uppercase;
        font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-size: 24px;
    color:#fff;
    background: #10293A;
    padding: 5px 15px;
}
.home_news h4
}
.home_news ul li p {
    line-height: 1.75em;
}
.home_news ul li {
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1.45px solid #ebebec;
}
.home_news ul li:last-child {
    border: 0;
}

.sidebar_home {
    width: 29%;
    float: left;
        padding-top: 70px;
    padding-bottom: 50px;
}
.sidebar_home .wrapper {
    width: 80%; 
    margin: 0 auto;
    overflow: hidden;
}
.sidebar_home h3 {
        text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 0;
    color:#09293a;
}
.sidebar_home p {
        font-weight: 300;
    font-size: 17px;
    line-height: 1.5em;
}
.sidebar_home a.button p {
    width: 100%;
}
.sidebar_home .join_us {
    text-align: center;
    padding-bottom: 10px;
}
.sidebar_home .group {
    margin-bottom: 50px;
}
.sidebar_home .group img {
    width: 80%;
    margin: 0 auto 20px;
}
/*--------------------------------------------------------------
# DEFAULT PAGE
--------------------------------------------------------------*/
.page_default {
    min-height: 800px;
}
.page_default .header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.page_default .header h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.page_default .content {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}
.wpum-profile-page h1.entry-title {
    display: none;
}
/*--------------------------------------------------------------
# CONTACT FORM
--------------------------------------------------------------*/
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
    padding: 7px 0 7px 4px !important;
    border: 1px solid #E3E3E3;
    margin: 0px !important;
        height: 24px;
    border: 1px solid #ddd;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
        width: 95%;
    max-width: 500px;
}
.wpcf7 textarea {
    height: 96px;
}
.wpcf7 input[type=submit] {
    background-color: #bc4646;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    border: 0 !important;
    text-transform: uppercase;
    color: #fff;
    outline: 0;
    width: 100px !important;
}


/*DIRECTORY*/
.fep-column.fep-column-avatar {
    max-width: 25px;
}
.fep-table-row {
    height: 50px;
}
.fep-column.fep-column-name,
.fep-column.fep-column-send_message{
    vertical-align: middle;
}
dt.field_2.field_email.field_type_email,
dt.field_6.field_nickname.field_type_nickname,
dt.field_7.field_display-name.field_type_display_name{
    display: none;
}
#wpum-profile-1680 > div.wpum-profile-tabs-content > div > dl > dd:nth-child(8),
#wpum-profile-1680 > div.wpum-profile-tabs-content > div > dl > dd:nth-child(14),
#wpum-profile-1680 > div.wpum-profile-tabs-content > div > dl > dd:nth-child(16)
{
    display: none;
}
.wpum-single-profile .wpum-user-display-name a {
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 0;
    color: #09293a !important;
    text-transform: uppercase !important;
}
.wpum-single-profile ul.wpum-profile-tabs {
    display: none;
}
.wpum-avatar-img {
    display: none;
}
a.space_left {
    margin-left: 7px;
}
